@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background-color: #e2e3e4;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    justify-content: center;
}
